<div class="input-field filtersField">
	<form action="/issues" method="POST">
		<select class="validate" id="filters" name="filter">
			{{!-- <option value="" disabled selected>default filter</option> --}}
			{{#if filters.length}}
			{{#each filters}}
			<option value="{{id}}">{{name}}</option>
			{{/each}}
			{{else}}
			<option value="" selected disabled>No filters available</option>
			{{/if}}
		</select>
		{{#if filters.length}}
		<button class="btn btn-primaty">Select</button>
		{{else}}
		<button class="btn btn-primaty" disabled>Select</button>
		{{/if}}
	</form>
	<label for="filters">Select issues by filter</label>
</div>

{{#if parsedIssues}}
{{>issuesTable parsedIssues}}
{{/if}}

<a class="logOutBtn" href="/logout">Log Out</a>