.authForm{

	width: 40%;
	position: relative;
	left: 50%;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 20px;
	padding: 20px;
	transform: translate(-50%, 40%);

}

.loginFailed{

	position: fixed;
	top: 4%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 20pt;
	color: red;

}

.filtersField{

	padding-top: 2rem;

}

.logOutBtn{

	position: fixed;
	bottom: 3%;
	right: 1%;
	transform: translate(-50%, 0);

}